<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
<title>心情空间</title>
<link rel="stylesheet" type="text/css" href="../../static/layui/css/layui.css">
<link rel="stylesheet" type="text/css" href="__CSS__/main.css">
<link rel="stylesheet" href="__CSS__/bootstrap.min.css">

</head>
<body>
	<div class="header">
		<div class="menu-btn">
			<div class="menu"></div>
		</div>
		<h1 class="logo">
			<a href="../../../index/index/index"> <span>Smile</span> <img
				src="__IMAGES__/logo.png">
			</a>
		</h1>
		<div class="nav">
			<a href="{:url('index')}?userid={$userSet[0]['userid']}" class="active">文章</a> 
			<a href="{:url('whisper')}?userid={$userSet[0]['userid']}">微语</a> 
			<a href="{:url('leacots')}?userid={$userSet[0]['userid']}">留言</a>
			<a href="{:url('album')}?userid={$userSet[0]['userid']}">相册</a> 
			<a href="{:url('about')}?userid={$userSet[0]['userid']}">关于</a>
		</div>


			{if condition="($Think.session.user.userid == $userSet[0]['userid'])"} 
				<div  class="dropdown" style="margin:0 90%;">
					<a href="{:url('admin/article_list')}" title="我的空间管理"><img src="/{$Think.session.user.image}" style="border-radius:50%;width:80px"/></a>		
			    </div>
			 {else/}
			 	<p class="welcome-text">
					欢迎来到 <span class="name" style="color: red; font-size: 45px">{$userSet[0]['username']}</span>
					的心情空间~
				</p>	 					
			 {/if}
	</div>

	<div class="banner">
		<div class="cont w1000">
			<div class="title">
				<h3>心情空间</h3>
				<h4>follow your heart !</h4>
			</div>
			<div class="amount">
				<p>
					<span class="text">今天</span><span class="access">{php}echo date("Y-m-h"){/php}</span>
				</p>
				<p>
					<span class="text">日志</span><span class="daily-record">{$articleSet|count}</span>
				</p>
			</div>
		</div>
	</div>
	<div class="tlinks">
		Collect from <a href="http://www.cssmoban.com/">网页模板</a>
	</div>
	<div class="content">
		<div class="cont w1000">
			<div class="title">
				<span class="layui-breadcrumb" lay-separator="|"> <span
					style="color: red; font-size: 25px">{$userSet[0]['username']}</span>
					<a href="javascript:;">的日志文章</a>
				</span>
			</div>


			<div class="list-item">
				<ul>
					{volist name="$articleSet" id="article"}
					<div class="item">
						<div class="layui-fluid">
							<div class="layui-row">
								<div class="layui-col-xs12 layui-col-sm4 layui-col-md5">
									<div class="img">
										<img src="../../{$article.contentimage}" alt="">
									</div>
								</div>
								<div class="layui-col-xs12 layui-col-sm8 layui-col-md7">
									<div class="item-cont">
										<h3>
											{$article.title}
											<button class="layui-btn layui-btn-danger new-icon">new</button>
										</h3>
										<h5>{$article.type}</h5>
										<p>{$article.content|substr=0,150}</p>
										<a href="details?articleid={$article.articleid}"
											class="go-icon"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					{/volist}
				</ul>
			</div>	
			
			<div id="demo" style="text-align: center;">
				{$articleSet->render()}
			</div>
			
					
		</div>	
		
	</div>
		
		
	 
 
	<div class="footer-wrap">
		<div class="footer w1000">
			<div class="qrcode">
				<img src="__IMAGES__/erweima.jpg">
			</div>
			<div class="practice-mode">
				<img src="__IMAGES__/down_img.jpg">
				<div class="text">
					<h4 class="title">我的联系方式</h4>
					<p>
						微信<span class="WeChat">1234567890</span>
					</p>
					<p>
						邮箱<span class="email">1234567890@qq.com</span>
					</p>
					<p>
						More Templates <a href="http://www.cssmoban.com/" target="_blank"
							title="模板之家">模板之家</a> - Collect from <a
							href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
					</p>
				</div>
			</div>
		</div>
	</div>


    <script src="__JS__/bootstrap.min.js"></script>
    <script src="__JS__/modernizr.js"></script>
	<script type="text/javascript" src="../../static/layui/layui.js"></script>

</body>
</html>